*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  color: tomato;
  font-weight: bold;
}

.logo:hover{
  color: tomato;
}

#formulario{
  margin: 5rem 0;
}

#titulo-h1{
  margin: 5rem 0;
  color: #0972E1;
}

#section-cards{
  margin-bottom: 5rem;
}

#formulario-input{
  height: 4rem;
}

.modal-header{
  background-color: #F8F9FA;
}

.icon{
  font-size: 2rem;
  margin: 0 2rem;
}

.icon-button{
  border: none;
  background-color: transparent;
}

.icon-convert{
  color: rgb(1, 176, 1);
  border: none;
}
.icon-convert:hover{
  color: green;
}

.message-copy{
  position: absolute;
  left: 0.8rem;
  top: 0.6rem;
  color: rgb(121, 121, 87);
  font-size: 0.7rem;
}

.icon-copy{
  color: #7c7878;
  border: none;
  margin: 0 1rem;
}
.icon-copy:hover{
  color: #4c4848;
}

.icon-download{
  color: #1d447a;
  border: none;
}
.icon-download:hover{
  color: #183153;
}

.des{
  color: #ccc;
}

.table-row{
  font-size: 0.7rem;
}

.p-small{
  color: #9c9a9a;
}

.list-group-item{
  color: #0972E1;
}

.card-song{
  border: none;
  border-top: 1rem solid tomato;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0.5rem 0.5rem 0 #183153;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  width: 40%;
  height: auto;
}

.indice{
  position: absolute;
  right: 0.8rem;
  top: 0.6rem;
  color: rgb(121, 121, 87);
  font-weight: bold;
  font-size: 1rem;
}

.card-body-style{
  display: flex;
  flex-flow: column wrap;
  height: 7rem;
  overflow: hidden;
  justify-content: space-evenly;
}

.card-list-style{
  display: flex;
  flex-flow: column wrap;
  height: 15rem;
  overflow: hidden;
  justify-content: space-evenly;
}

.card-body-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#section-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}



.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: auto;
  bottom: 2.5rem;
  margin: 0 1rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(1, 176, 1);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



@media (max-width: 1100px) {
  .card-song{
    width: 100%;
  }
}
@media (max-width: 400px) {
  audio{
    width: 70%;
  }
  #titulo-h1{
    font-size: 1.5rem;
  }
  #formulario{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  #navbar-header{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
