*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#formulario{
  margin: 5rem 0;
}

#titulo-h1{
  margin: 5rem 0;
}

#formulario-input{
  height: 4rem;
}

.modal-header{
  background-color: #F8F9FA;
}
